body{
  width: 200mm;
  margin: auto;
}

*{
  -webkit-print-color-adjust:exact;
}
pre{
  -webkit-print-color-adjust:economy;
}

/* Header */
.jsprint-page-header{
  text-align: right;
  margin-top: 10px;
}
.jsprint-def-header{ display: none; }
.jsprint-page-header{
  postition: absolute;
  top: 0px;
}

/* Summary */
.jsprint-summary-entry{ border-bottom: #afafaf 1px dotted; }
.jsprint-summary-H1{ font-size: 1.2em; font-weight: bold; }
.jsprint-summary-H2{ font-size: 1.1em; padding-left: 10px; }
.jsprint-summary-H3{ font-size: 1em; padding-left: 20px; }
.jsprint-summary-H4{ font-size: 0.9em; padding-left: 30px; }
.jsprint-summary-entry div{ width: 20px; float: right; }

/* Page content */

.jsprint-page{
  padding-left: 20px;
  padding-right: 25px;
  page-break-after: always;
  height: 290mm;
  position: relative;
}

.jsprint-summary{
  padding-top: 20px;
}

.jsprint-page-footer{
  position: absolute;
  bottom: 0px;
  right: 1px;
}
.jsprint-page-footer .jsprint-pagenbr{
  width: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.jsprint-img-legend{
  text-align: center;
  font-style: italic;
}

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333 }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}


/*****************************************************/
/*             General customization                 */
/*****************************************************/
body{
  font-family: arial;
}
h1{
  color: #D5BB94;
  margin: 0px;
  margin-bottom: 10px;
}
h2{
  padding-top: 20px;
  color: #F8BA1C;
  font-size: 20px;
  padding-left: 5px;
  margin: 0px;
  font-style: italic;
  margin-bottom: 10px;
}
h3{
  color: #EABB7A;
  font-size: 16px;
  padding-left: 10px;
  margin: 0px;
  font-style: italic;
}
h4{
  color: #EBCC9A;
  font-size: 14px;
  padding-left: 10px;
  margin: 0px;
  font-style: italic;
}
p{
  font-size: 14px;
  text-align: justify;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}


li{
  padding-left: 1em;
  text-indent: -.7em;
  font-size: 14px;
  margin-bottom: 5px;
}
li:before{
  color: #B09367;
  content:  "• ";
}

a{
  color: #7f7f7f;
  font-style: italic;
  text-decoration: none;
}

table{
  border-spacing:0;
  border: #cfcfcf 1px solid;
  margin: auto;
}

table tr th{
  background-color: #C3AD7A;
  color: #fefefe;
  font-size: 14px;
  text-align: left;

}
table tr td{
  font-size: 12px;
  margin: 0px;
  color: #5f5f5f;
  padding: 2px 10px;
}
table tr:nth-child(even) {background: #CCC}

img{
  width: 95%;
  margin: 0 auto;
  display: block;
  border: #cfcfcf 1px solid;
  padding: 5px 5px;
}

pre{
  background-color: #3f3f3f;
  color: #efefef;
}




/*****************************************************/
/*                 JSP Customization                 */
/*****************************************************/

/* Page border */
.jsprint-page{ border: #cecece 1px solid; }


/* Page number color */
.jsprint-page-footer .jsprint-pagenbr{ color: #9f9f9f; }


/* Summary color */
.jsprint-summary{ color: #9f9f9f; }


/* Header */
.jsprint-page-header p{
  text-align: right;
  color: #9f9f9f;
  border-bottom: #dfdfdf 1px solid;
  padding-bottom: 5px;
}


/* Image legend style */
.jsprint-img-legend{
  color: #9f9f9f;
  font-size: 0.7em;
}

/*****************************************************/
/*                 JSP Personalization               */
/*****************************************************/

p.note{
  background-color: #cfcfcf;
  border: #9f9f9f 2px solid;
  padding: 5px;
  border-top: 0;
  border-bottom: 0;
  font-style: italic;
  color: #3f3f3f;
}


/*# sourceMappingURL=jsprint.css.map*/